.video-container {
    display: flex;
    align-items: center;
}

.video {
    width: 100vw;
}

.video-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 50px;
    z-index: 5;
    color: white;
    text-align: left;
}

.title {
    font-size: 6em;
    font-family:'Franklin Gothic Medium';
}

.description {
    font-size: 2em;
    font-family: var(--fontstyle);
}

.sub-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 2em + 1rem;
    height: 60px;
    border-radius: 15px;
    font-family: var(--fontstyle);
}

.Play {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-radius: 0.2vw;
    padding: 10px 2rem;
}

.Play:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.More-Info {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(196, 191, 192, 0.8);
    border-radius: 0.2vw;
    padding: 10px 2rem;
}

.More-Info:hover {
    background-color: rgba(196, 191, 192, 0.3);;
    cursor: pointer;
}
