* {
    scrollbar-width: none;

}

::-webkit-scrollbar {
    height: 0;  /* Remove scrollbar space */
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--fontstyle);
    font-size: 1.2rem;
    color: white;
    margin-top: -5rem;
    gap: 20px;
}

.video-titles {
    padding-left: 50px;
}

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23rem;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bar1 {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.bar2 {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.bar3 {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.slider {
    display: flex;
    flex-grow: 1;
    width: calc(100% - 2 * 50px);
}

.left {
    z-index: 10;
    flex-grow: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 300px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.3;
    border-radius: 0 1vw 1vw 0;
}

.left-show {
    z-index: 10;
    flex-grow: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 300px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border-radius: 0 1vw 1vw 0;
}

.left-show img {
    opacity: 1;
}

.left img {
    opacity: 0;
}

.left img:hover {
    opacity: 1;
}

.left:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border-radius: 0 1vw 1vw 0;
    cursor: pointer;
}

.right {
    z-index: 10;
    flex-grow: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 300px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.3;
    border-radius: 1vw 0 0 1vw;
}

.right-show {
    z-index: 10;
    flex-grow: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 300px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border-radius: 1vw 0 0 1vw;
}

.right-show img {
    opacity: 1;
}

.right img {
    opacity: 0;
}

.right img:hover {
    opacity: 1;
}

.right:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border-radius: 1vw 0 0 1vw;
    cursor: pointer;
}

.group1{
    z-index: 0;
    display: flex;
    gap: 4.26rem;
    scroll-snap-align: start;
    padding-left: 50px;
}

.group1 img{
    border-radius: 1vw;
    height: 300px;
    aspect-ratio: 16 / 9;
}

.group1 iframe{
    border-radius: 1vw;
    height: 300px;
    aspect-ratio: 16 / 9;
}

.group1 iframe:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.Card {
    bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: 	hsl(0, 0%, 10%);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem 1rem 1rem 1rem;
    max-height: 23rem;
}

.Card-info {
    padding: 15px 15px 15px 30px;
}

.Card:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in;
}

.video-here2 {
    height: 300px;
    aspect-ratio: 16 / 9;
    border-radius: 1rem 1rem 0 0;
}

.video-here2:hover {
    cursor: pointer;
}

.Audio-inside img{
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 50px; 
    height: 50px;
}

.Audio-inside img:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

@media (pointer:coarse) { 
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .slider{
        display: flex;
        flex-grow: 1;
        width: calc(100% - 2 * 50px);
        overflow-x: scroll;
        scroll-behavior: smooth;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
    }
    .group1 img {
        scroll-snap-align: start; 
    }
    .group1 iframe {
        scroll-snap-align: start; 
    }
  }