* {
    scrollbar-width: none;

}

::-webkit-scrollbar {
    height: 0;  /* Remove scrollbar space */
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--fontstyle);
    font-size: 1.2rem;
    color: white;
    margin-top: -5rem;
    gap: 10px;
}

.right-none {
    display: none;
}

.right {
    z-index: 10;
    flex-grow: 0;
    display: flex;
    align-items: center;
    left: calc(100vw - (100vw - 100%) - 50px);
    width: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.3;
    border-radius: 0.4vw 0 0 0.4vw;
}

.right img {
    opacity: 0;
}

.right img:hover {
    opacity: 1;
}

.right:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border-radius: 0.4vw 0 0 0.4vw;
    cursor: pointer;
}

.left-none {
    display: none;
}

.left {
    z-index: 10;
    flex-grow: 0;
    display: flex;
    align-items: center;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.3;
    border-radius: 0 0.4vw 0.4vw 0;
}

.left img {
    opacity: 0;
}

.left img:hover {
    opacity: 1;
}

.left:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    border-radius: 0 0.4vw 0.4vw 0;
    cursor: pointer;
}

.video-titles {
    padding-left: 50px;
}

.media-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    
    flex-grow: 1;
    width: calc(100% - 2 * 50px);
}

.group1{
    display: flex;
    gap: 20px;
    scroll-snap-align: start;
    padding-left: 50px;
}

.group2 {
    display: flex;
    gap: 20px;
    scroll-snap-align: start;
    padding-left: 20px;
}

.slider > img {
    flex: 0 0 25%;
    max-width: 25%;
    aspect-ratio: 16 / 9;
    padding: .25rem;
}

.Images-Here-Fill {
    border-radius: 1vw;
}


@media (pointer:coarse) { 
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .slider{
        overflow-x: scroll;
        scroll-behavior: smooth;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
    }
    .group1 img {
        scroll-snap-align: start; 
    }
  }